<h3>Welcome user !</h3>


<table class="table mt-3">
    <thead>
        <tr>
        <th scope="col">Id</th> 
            <th scope="col">FirstName</th>
            <th scope="col">LastName</th>
            <th scope="col">mobile</th>
            <th scope="col">Email</th>

        </tr>
    </thead>
    <tbody>
         <tr *ngFor="let dt of Data">
            <td>{{dt.id}}</td>
            <td>{{dt.firstname}}</td>
             <td>{{dt.lastname}}</td>
             <td>{{dt.mobilenumber}}</td>
             <td>{{dt.email}}</td>
        </tr> </tbody>
</table>
<button routerLink="/login" class="btn btn-danger" (click)="logout()">Logout</button>